<?php
return array(
    
    'elvo' => array(
        
        'environment' => array(
            'mode' => 'devel'
        ),
        
        'vote_manager' => array(
            'options' => array(
                'enabled' => true,
                'start_time' => '2013-11-23 08:00:00',
                'end_time' => '2013-11-28 14:00:00'
                'chamber_max_candidates' => array(
                    'academic' => 3,
                    'student' => 2
                ),
                'chamber_max_votes' => array(
                    'academic' => 2,
                    'student' => 1
                ),
                'electoral_name' => 'FEL',
                'contact_email' => 'volby@example.cz'                
            )
        ),
        
        'db' => array(
            'driver' => 'Pdo_Sqlite',
            'database' => '/tmp/elvo.sqlite'
        ),
        
        'authentication' => array(
            'adapter' => array(
                'adapter' => 'ZfcShib\Authentication\Adapter\Dummy',
                'options' => array(
                    'user_data' => array(
                        'voter_id' => '123451',
                        'voter_roles' => 'B-13000-STUDENT;B-13000-ZAMESTNANEC-AKADEMICKY'
                    )
                )
            ),
            'role_extractor' => array(
                'class' => 'Elvo\Mvc\Authentication\Role\CvutRoleExtractor',
                'options' => array(
                    'department_code' => '13000'
                )
            )
        ),
        
        'candidates' => array(
            'options' => array(
                'candidates' => __DIR__ . '/../../data/candidates/candidates.php'
            )
        ),
        
        'vote_validator' => array(
            'validators' => array(
                'candidate_count' => array(
                    'validator' => 'Elvo\Domain\Vote\Validator\CandidateCountValidator',
                    'options' => array(
                        'max_candidate_count' => array(
                            'academic' => 3,
                            'student' => 2
                        )
                    )
                ),
                'voter_role' => array(
                    'validator' => 'Elvo\Domain\Vote\Validator\VoterRoleValidator',
                    'options' => array()
                )
            )
        ),
        
        'vote_encryptor' => array(
            'encryptor' => 'Elvo\Domain\Vote\OpensslEncryptor',
            'options' => array(
                'certificate' => __DIR__ . '/../../data/ssl/crypt.crt',
                'private_key' => __DIR__ . '/../../data/ssl/crypt.key'
            )
        )
    )
);